body{
    margin: 0px;
    font-family: 'Inter' , sans-serif;
    width: 550px;
    margin: auto;
}

.Header{
    background-color: #F55A5A;
    text-align: center;
    display: flex;
    padding: 20px;
    justify-content: center;
}

#globe-img{
    margin: 5px;
}

#heading{
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 3px;
}

.place-box{
    margin: 40px 20px;
    display: flex;
}

.place-img{
    width: 125px;
    height: 168px;
    border-radius: 5px;
    margin-left: 20px;
}

.place-content{
    margin-left: 17px;

}

.place-title{
    font-size: 25px;
    font-weight: 700;
}